@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Noto+Serif:wght@500&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	/* width: 100vw;
	*/
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

#footer {
	height: 40px;
}

#header {
	height: 80px;
	border-bottom: 8px solid #d36f12;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #102e68;
	z-index: 10;
}

#header-content {
	height: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

#header-name {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: x-large;
	color: white;
}

#header-buttons {
	display: flex;
	flex-direction: row;
	gap: 20px;
	font-size: large;
	font-weight: 100;


}

#hd a {
	color: white;
	text-decoration-line: none;
	font-weight: bold;
}

#hd a:hover {
	text-decoration-line: underline;
}

a {
	color: #102e68;
	text-decoration-line: none;
	font-weight: bold;
}

#bp p {
	color: #102e68;
	text-decoration-line: none;
	font-weight: bold;
}

a:hover {
	text-decoration-line: underline;

}

.list-wrapper {
	padding: 0;
}

.entry {
	list-style-type: none;
	padding: 0;
	/* Remove padding */
	margin: 0;
	/* Remove margins */
}

#dotstyle li {
	list-style-type: square;
	padding: 0;
	/* Remove padding */
	margin-left: 30px;
}

.content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-size: medium;
}

#content>p {
	margin-bottom: 60px;
}

#profile {
	padding-top: 150px;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 20px;
}

@media screen and (max-width: 800px) {
	#profile {
		grid-template-columns: 100%;
	}
}

#about-column {
	position: relative;
	top: -20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-width: 800px;
	flex-grow: 1;
	justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
	#about-column {
		top: 0;
	}
}

#name {
	font-family: 'Noto Serif', serif;
	font-size: xx-large;
	font-weight: 500;
}

#chinese-name {
	font-size: large;
	margin-bottom: 10px;
}

#photo-column {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	align-items: left;
	justify-content: center;
	margin-bottom: 50px;
}

#profile-photo {
	width: 80%;
	max-width: 200px;
	border-radius: 50%;
}

.link {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 4px;
	background-color: #C8CBD2;
	border-radius: 5px;
	transition: all 0.1s ease;
}

.link:hover {
	background-color: #102e68;
	color: white;
	text-decoration-line: none;
}

.section {
	font-size: larger;
	font-weight: 100;
	margin-bottom: 5px;
	margin-top: 15px;
	padding-left: 5px;
}

.subsection {
	font-size: large;
	color: #d36f12;
	font-weight: bolder;
	padding-left: 0px;
}

.content {
	font-weight: lighter;
	text-align: left;
}

@media screen and (max-width: 800px) {
	.subsection {
		margin-top: 20px;
	}
}

.content-list {
	display: grid;
	grid-template-columns: 20% 80%;
	gap: 5%;
}

.content-list2 {
	display: grid;
	grid-template-columns: 20% 80%;
	gap: 5%;
	padding-top: 150px;
}

@media screen and (max-width: 800px) {
	.content-list {
		grid-template-columns: 100%;
		gap: 0px;
	}
	.content-list2 {
		grid-template-columns: 100%;
		gap: 0px;
	}
}

.entry {
	padding: 15px;
	border-bottom: 2px solid #C8CBD2;
}

.list-wrapper {
	width: 100%;
	border: 2px solid #C8CBD2;
	border-radius: 8px;
	margin-top: 0;
}

.entry:last-child {
	border-bottom: 0;
}

@media screen and (max-width: 800px) {
	.entry {
		padding: 10px;
		padding-bottom: 15px;
	}
}

.pub {
	margin-bottom: 5px;
}

.title {
	display: block;
	font-weight: 700;
	margin-bottom: 8px;
}

.buttons {
	height: fit-content;
	margin-top: 10px;
}

.interest-list {
	padding: 0;
	list-style-type: none;
}

.experience {
	border: 0;
}

#apple{
	padding-top: 0;
}